<header class="navbar">
    <i class="bi bi-list icons menu cursor_pointer"></i>
    <span class="navbar__brand_name"><i>s</i>tore</span>

    <div class="navbar__navigation flex-row">

        <a routerLink="/"><i class="bi bi-house-door-fill icons cursor_pointer"></i></a>
        <a routerLink="/profile"><i class="bi bi-person-circle icons cursor_pointer"></i></a>
        <a routerLink="/cart"><i class="bi bi-cart-fill icons cursor_pointer"></i></a>
        <form action="#" class="flex-col">
            <input type="text" placeholder="Search Store">
        </form>
        
    </div>

    <div class="navbar__logout flex-row">
        <a href="#" class="logout__btn">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </a>
    </div>
    

</header>


