
<div class="content" *ngFor="let entry of data">

    <div class="content__header">
        <div class="content__image"></div>

        <section class="content__profile">
            <a routerLink="/profile" class="profile__name">{{ entry.name }}</a>
            <i class="profile__address">{{ entry.address }}</i>
            <i class="profile__type">{{ entry.type }}</i>
        </section>

        <div class="content__close">
            <i class="bi bi-x-circle-fill icons cursor_pointer"></i>
        </div>
    </div>

    <!-- ngIf will display content when it is true -->
    <div class="content__body" *ngIf="entry.display">
        <section class="body__left">{{ entry.content }}</section>
        <section class="body__right">example img</section>
    </div>

    <div class="content__footer">
        <div class="footer__rating"></div>

        <div class="footer__visit_shop">
            <button class="cursor_pointer" on-click = "showData($event)">
                <span>Visit Shop</span>
                <i class="bi bi-arrow-right visit_btn"></i>
            </button>
        </div>

    </div>
    
</div>
