
<div class="content">

    <div class="content__header">
        <div class="content__image"></div>

        <section class="content__profile">
            <a routerLink="/profile" class="profile__name">User</a>
            <i class="profile__address">New York City</i>
            <i class="profile__type">@Food</i>
        </section>

        <div class="content__close">
            <i class="bi bi-x-circle-fill icons cursor_pointer"></i>
        </div>
    </div>

    <div class="content__body">
        <section class="body__left">Some Text</section>
        <section class="body__right">example img</section>
    </div>

    <div class="content__footer">
        <div class="footer__rating"></div>

        <div class="footer__visit_shop">
            <button class="cursor_pointer">
                <span>Visit Shop</span>
                <i class="bi bi-arrow-right visit_btn"></i>
            </button>
        </div>

    </div>
    
</div>
