.content{
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 0px 0px 5px 0px var(--shadow);
    border: 1px solid var(--main);
    padding: var(--fs-regular);
    padding-bottom: 0;
    margin: 0 var(--fs-medium);
    margin-bottom: var(--fs-small);
    border-radius: var(--fs-regular);
}

/* header */
.content__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content__image{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--text);
}

.content__profile{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--fs-small);

}
.content__profile a{
    font-size: var(--fs-large);
    font-weight: bolder;
}
.content__profile i{
    font-size: var(--fs-regular);
    line-height: var(--fs-regular);
}
.content__profile i:nth-child(2){
    color: var(--main);
}

.content__profile i:nth-child(3){
    color: var(--text);
}
.content__close i{
    position: absolute;
    top: 9%;
    left: 96.3%;
    transform: translateY(-50%);
    font-size: var(--fs-medium);
    color: var(--text);
    transition: color 0.3s ease;
}
.content__close i:hover{
    color: var(--danger);
}
.content__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--fs-small);
    border-top: 1px solid var(--main);
}

.footer__visit_shop button{
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: var(--fs-small);
    border: none;
    padding: 0.2rem var(--fs-regular);
    background-color: var(--main);
}
.footer__visit_shop button span{
    font-weight: bold;
    color: var(--text);
    margin-right: var(--fs-small);
}
.footer__visit_shop button .visit_btn{
    font-size: calc(var(--fs-small) + 0.5rem);
    color: var(--text);
}
/* content body */
.content__body{
    display: flex;
    flex-direction: row;
}

.body__right, .body__left{
    flex-grow: 1;
    padding: var(--fs-medium);
}




/* mobile view */
@media screen and (max-width: 440px){
    .content__image{
        width: 3rem;
        height: 3rem;
    }

    .content__profile a{
        font-size: var(--fs-medium);
        font-weight: bolder;
    }
    .content__profile i{
        font-size: var(--fs-small);
        line-height: var(--fs-small);
    }
    /* close btn */
    .content__close i{
        position: absolute;
        top: 7%;
        left: 92%;
        transform: translateY(-50%);
        font-size: var(--fs-regular);
        color: var(--text);
    }
    /* visit btn */
    .footer__visit_shop button span{
        font-weight: bold;
        font-size: var(--fs-small);
        color: var(--text);
        margin-right: var(--fs-small);
    }
    .footer__visit_shop button .visit_btn{
        font-size: calc(var(--fs-small) + 0.2rem);
        color: var(--text);
    }
}