<div class="container_login">

    <div class="container_login__form">
        <span>Sign In</span>
        
        <form (submit)="onSubmit($event)">
            <i *ngIf="show" class="error_message">{{ message }}</i>
            <label for="username">Username</label>
            <input type="text" placeholder="Enter username" name="username" [(ngModel)]="formData.username" required>
            
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" [(ngModel)]="formData.password" required>

            <input type="submit" value="Sign In" class="submit_btn" name="submit">
        </form>

    </div>

</div>
