.container_login{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container_login .container_login__form{
    padding: var(--fs-x-large);
    background-color: var(--accent);
    box-shadow: 0px 0px 5px 0px var(--shadow);
    border-radius: var(--fs-regular);
}
.container_login .container_login__form span{
    font-size: var(--fs-large);
    font-weight: bolder;
    text-align: center;
}

.container_login .container_login__form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_login .container_login__form form label{
    margin-top: var(--fs-regular);
} 
.container_login .container_login__form form input{
    border: none;
    outline: none;
    padding: var(--fs-small) var(--fs-large);
    font-size: var(--fs-regular);
    border-radius: var(--fs-medium);
}
.submit_btn{
    margin-top: var(--fs-medium);
    border: none;
    border-radius: var(--fs-medium);
    background-color: var(--main);
    font-weight: bold;
    cursor: pointer;
    padding: var(--fs-small) var(--fs-regular);
    transition: transform 0.3s ease;
}
.submit_btn:hover{
    transform: scale(1.1);
}
.submit_btn:active{
    transform: scale(1);
}