/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&family=Quicksand:wght@300;500;600;700&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root{
	--main: hsl(47, 80%, 65%);
	--background: hsl(0, 0%, 100%);
	--text: hsl(0, 0%, 0%);
	--accent: hsl(45, 24%, 93%);
	--shadow: hsl(0, 0%, 70%);

	--danger: hsl(0, 63%, 64%);

	--fs-small: 0.7rem;
	--fs-regular: 1rem;
	--fs-medium: 1.5rem;
	--fs-large: 2rem;
	--fs-x-large: 2.5rem;
}
*{
	font-family: 'Poppins';
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--text);
}
i{
	text-decoration: none;
	font-style: normal;
}
.icons{
	font-size: var(--fs-large);
}

.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-col{
	display: flex;
	flex-direction: column;
	align-items: center;
}

a{
	text-decoration: none;
	color: var(--text);
}
.cursor_pointer{
	cursor: pointer;
}