.body{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    grid-template-rows: 1fr;
}

/* Categories section */
.body__categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--fs-medium);
}
.categories{
    padding: var(--fs-medium);
    background-color: var(--main);
    border-radius: var(--fs-medium);
}
.categories span{
    font-weight: bold;
    font-size: var(--fs-medium);
}
.categories__choices{
    margin-top: var(--fs-regular);
    display: flex;
    flex-direction: column;
}
.categories__choices section label{ margin-left: var(--fs-small);}


/* Content / News feed section  */
.body__content{
    padding-top: var(--fs-large);
    display: flex;
    flex-direction: column;
}


/* mobile view */
@media screen and (max-width: 440px){
    .body{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
    }

    .body__categories{
        display: none;
    }
}