<div class="body" style="padding-top: 4rem;">
    <div class="ghost"></div>

    <div class="body__categories">

        <div class="categories">

            <span>Categories</span>

            <form action="#" class="categories__choices">

                <section>
                    <input type="checkbox" name="food" value="Food" id="food" class="cursor_pointer">
                    <label for="food">Food</label>
                </section>
                
                <section>
                    <input type="checkbox" name="clothing" value="Clothing" id="clothing" class="cursor_pointer">
                    <label for="clothing">Clothing</label>
                </section>
                
                <section>
                    <input type="checkbox" name="tech" value="Tech" id="tech" class="cursor_pointer">
                    <label for="tech">Tech</label>
                </section>
                
                <section>
                    <input type="checkbox" name="accessories" value="Accessories" id="accessories" class="cursor_pointer">
                    <label for="accessories">Accessories</label>
                </section>
                
            </form>

        </div>

    </div>

    <!-- this here is the news feed -->
    <div class="body__content">
        <app-content></app-content>
    </div>
    
</div>
